footer

//if lt IE 9
  #deprecated-browser-overlay
    .the-message
      h1.logo=title
      h1.super Hold on!
      p
        | Your browser is ancient and it's not supported. Please upgrade to a newer version of Internet Explorer, or better yet, get something even cooler like 
        a(href='http://browsehappy.com/', target='_blank') Google Chrome
        |  or 
        a(href='http://browsehappy.com/', target='_blank') Mozilla Firefox
