extends /layout

block header


block content
  .preloader
    .card.slide-1.active
      h1 LOAD // HAHA
      h1 HAHA // HAHA
    //- .card.slide-2
    //-   h1 HAHA // LOAD
    //-   h1 HAHA // HAHA
    //- .card.slide-3
    //-   h1 HAHA // HAHA
    //-   h1 LOAD // HAHA
    //- .card.slide-4
    //-   h1 HAHA // HAHA
    //-   h1 HAHA // LOAD




block footer
  include /includes/_footer


block scripts
  include /includes/_scripts
